body
{
  color: #95A5A6;
}

.container
{
  width: auto;
  min-width: 300px;
  max-width: 500px;
}

header
{
  overflow: auto;
  text-align: center;
}

.bruins
{
  color: #F1C40F;
}

.senators
{
  color: #3498DB;
}

#hashtags, #retweets
{
  display: inline-block;
  margin: 0 10px;
  font-size: 26px;
  max-width: 40%;
  text-align: center;
}

#hashtags > div, #retweets div
{
  padding: 10px;
  display: inline-block;
  word-wrap: break-word;
}

#tweets h3
{
  text-align: center;
}

.tweet
{
  padding: 8px 12px;
}

.tweet:nth-child(odd)
{
  background-color: #ECF0F1;
}